body{
	margin:0;
	background: url('../images/minas.jpg') fixed;
	font-family: arial;
	color: white;
	padding: 5px;
	margin: 40px;
	font-size: 20px;
	font-weight: 500
}
h1{
	color: white;
	font-size: 80px;
}
footer{
	padding: 20px 20px;
	color: white
}
footer a{
	color:white
}
footer .left{
	float: left
}
footer .right{
	float: right
}
.float-left{
	float:left;
	margin: 0 20px 20px 0
}